
 
     h1{
     
         font-style: italic;
         
         }
         
         header{

            height: 10vh;

         }

         nav{
            height: 5vh;

         }
         
     #mainBody{
   

         max-height: 85vh;
         background-color: azure;
        display: flex;
        flex-wrap: nowrap;
        
         } 
 
 
     #imageChoice{
 
        flex-basis: 225px;
         min-height: 100%;
         min-width: 225px;
         max-width: 20vw;

        flex-direction: column;
        background-color: aqua;       
        justify-content: center;

         }
 
         
     #canvasArea{
        
         min-height: fit-content;
         flex-basis: auto;
         background-color: lightblue;
        min-width: 80vw;
        justify-content: center;
        display: flex;
        

     }
 
 





/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {


    h1{
        text-align: center;
    }
}




/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {


    
    h1{
        text-align: center;
    }

}





/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {


    h1 {
        text-align: center;
    }
}





/* Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px) {
*/
/*

    image{

       width: fit-content;

    }

    h1{
    
        font-style: italic;
        
        }
        
        
        
    #mainBody{
        
        display: block;
        min-width: 100vw;
        min-height: 100vh;

        } 


    #imageChoice{

        align-content: center;
        float: left;
        min-height: 100%;
        width: 250px;
        background-color: aqua;       
        
        }

        
    #canvasArea{
        min-height: 100%;
        display: flex;
        background-color: lightblue;
    }



}
