.palletButton {
    border: black solid 1px;

        padding: 15px 32px;
 

  }

  #redSelect{

    background-color: red;

  }

  #blackSelect{

    background-color: black;

  }

  #blueSelect{

    background-color: blue;

  }
  #yellowSelect{

    background-color: yellow;

  }
  #greenSelect{

    background-color: green;

  }
  #pinkSelect{

    background-color: pink;

  }
  #whiteSelect{

    background-color: white;

  }
  #greySelect{

    background-color: grey;

  }
  #orangeSelect{

    background-color: orange;

  }
#canvasLayerBack{

    z-index: 1;
    max-width: 800px;
    max-height: 800px;


}


#canvasLayers{

    position: relative;
}

#canvasLayerDraw{

    z-index: 2;
    position: absolute;
    left: 0px;
    top:0px;
    max-width: 800px;
    max-height: 800px;



}

#canvasLayerCursor{

    z-index: 3;

    position: absolute;
    left: 0px;
    top:0px; 
    max-width: 800px;
    max-height: 800px;

}


#contentContainer {
    height: fit-content;
    background-color: yellow;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;

}


#mainBody {


    min-height: fit-content;

    background-color: azure;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;


}


#imageChoice {

    min-width: 100%;
    min-height: 125px;

    display: flex;
    flex-direction: row;
    background-color: aqua;
    align-items: center;
    justify-content: center;
    gap: 10px;


    overflow-x: auto;
}

.drawPickSel {
    max-height: 100px;
}


#canvasArea {
    margin-left: auto;
    margin-right: auto;
    min-height: fit-content;

    background-color: lightblue;

    display: flex;
    justify-content: center;

    max-width: 100%;
    min-width: 100%;



}

#tool-bar{

    display: flex;
    flex-wrap: wrap;
    order: 2;

    min-width: 100%;
    max-width: 100%;


}

footer{

min-height: 5vh;
background-color: beige;
}


.canvases{

    cursor: crosshair;


}

nav{

    min-height: 10vh;
    
    background-color: #f1f1f1;

}

h1{
    margin-top: 0px;

}


#fullBody{


    min-height: 84vh;
    max-height: 84vh;
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 625px) {




    #canvasArea{

        min-width: 100%;
        min-height: fit-content;

    }



}






/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 850px) {


.drawPickSel {

    max-width: 200px;


}


#mainBody {

    background-color: azure;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    flex-direction: column;
    min-height: fit-content;

}

#imageChoice {

    min-height: 100%;
    min-width: 175px;
    max-width: 20vw;
    display: flex;
    flex-direction: column;
    background-color: aqua;
    align-items: center;
    overflow: auto;
    gap: 10px;
}

#canvasArea {

    margin-left: auto;
    margin-right: auto;
    min-height: fit-content;

    background-color: lightblue;

    display: flex;
    justify-content: center;
    padding: 10px;
    max-width: 70%;
    min-width: 800px;


}



}



/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {


    #contentContainer{

        background-color: aliceblue;

    }


    #fullBody{

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;


    }




    #imageChoice {

        background-color: aquamarine;
        min-width: 100%;
        min-height: 60vh;
    
        display: flex;
        flex-direction: row;
        background-color: aqua;
        align-items: center;
        justify-content: center;
        gap: 10px;    
    
        overflow-x: auto;
    }


    #canvasArea {

        margin-left: auto;
        margin-right: auto;
        min-height: fit-content;
        position: relative;
        background-color: lightblue;

        display: flex;
        padding: 20px;
        justify-content: center;
    
      
    }



      
}

@media only screen and (min-width:1000px) {



mainBody{

    flex-direction: column;
    max-height: 84vh;
    min-height: 84vh;


}

canvasArea{


    max-width:75%;


}

#tool-bar{

    display: flex;
    flex-wrap: nowrap;
    order: 1;
    max-width: 10%;

}
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {


    #canvasArea {
        margin-left: auto;
        margin-right: auto;
        min-height: fit-content;
        
        background-color: lightblue;
    
        display: flex;
        padding: 20px;
        justify-content: center;
    
    }


    
      /* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
  }
  
  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
  
  /* Full-width input fields */
  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }




  
}