
/*

#contentContainer {
    height: fit-content;
    background-color: yellow;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    border: 2px black solid ;

}


header {
    height: 10vh;
    border: 2px black solid ;
}

nav {
    height: 5vh;
    border: 2px black solid ;
}

#mainBody {

    border: 2px black solid ;
    max-height: 85vh;
    background-color: azure;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;

}








nav {
    border: 2px black solid ;
    background-color: red;

}


*/


#contentContainer {
    height: fit-content;
    background-color: yellow;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    border: 2px black solid ;
}


#mainBody {


    max-height: 85vh;

    background-color: azure;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    border: 2px black solid ;

}


#imageChoice {

    min-width: 100%;
    min-height: 125px;

    display: flex;
    flex-direction: row;
    background-color: aqua;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 2px black solid ;

    overflow-x: scroll;
}

.testclick {
    max-height: 100px;
}


#canvasArea {
    margin-left: auto;
    margin-right: auto;
    min-height: fit-content;

    background-color: lightblue;

    display: flex;

    justify-content: center;

    min-width: 100%;
    border: 2px black solid ;


}



canvas{
    height:500px;
    border: 2px black solid ;
}

footer{
min-height: 5vh;
background-color: beige;
}




/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {


    h1 {
        text-align: center;
    }



    #canvasArea{

        min-width: 100%;


    }


    canvas{
        height:500px;
        border: 2px black solid ;
    }



}






/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 850px) {

/*








    .testclick {
        max-height: 100px;
    }


    #canvasArea {
        margin-left: auto;
        margin-right: auto;
        min-height: fit-content;

        background-color: lightblue;

        display: flex;

        justify-content: center;
        padding: 10px;
        min-width: 100%;
        border: 2px black solid ;


    }

    canvas{
        height:500px;
        border: 2px black solid ;
    }

footer{
    min-height: 5vh;
    background-color: beige;
}

header {
    height: 10vh;
    border: 2px black solid ;
}

nav {
    height: 5vh;
    border: 2px black solid ;
}

#mainBody {

    border: 2px black solid ;
    max-height: 85vh;
    background-color: azure;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;

}


#imageChoice {
    border: 2px black solid ;
    min-height: 100%;
    min-width: 175px;
    max-width: 20vw;
    display: flex;
    flex-direction: column;
    background-color: aqua;
    align-items: center;
    overflow-y: scroll;
    gap: 10px;
}

.testclick {
    border: 2px black solid ;
    max-width: 200px;



}


#canvasArea {
    border: 2px black solid ;
    margin-left: auto;
    margin-right: auto;
    min-height: fit-content;

    background-color: lightblue;

    display: flex;

    justify-content: center;
    padding: 10px;
    max-width: 70%;
    min-width: 70%;


}

*/
.testclick {

    border: 2px black solid ;
    max-width: 200px;



}


#mainBody {

    border: 2px black solid ;
    max-height: 85vh;
    background-color: azure;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    flex-direction: row;

}

#imageChoice {
    border: 2px black solid ;
    min-height: 100%;
    min-width: 175px;
    max-width: 20vw;
    display: flex;
    flex-direction: column;
    background-color: aqua;
    align-items: center;
    overflow-y: scroll;
    gap: 10px;
}

#canvasArea {
    border: 2px black solid ;
    margin-left: auto;
    margin-right: auto;
    min-height: fit-content;

    background-color: lightblue;

    display: flex;

    justify-content: center;
    padding: 10px;
    max-width: 70%;
    min-width: 70%;


}







}



/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {


    #canvasArea {

        margin-left: auto;
        margin-right: auto;
        min-height: fit-content;
    
        background-color: lightblue;
    
        display: flex;
        padding: 20px;
        justify-content: center;

        max-width: 70%;
        min-width: 70%;
        border: 2px black solid ;
    
    }








    h1 {
        text-align: center;
    }
}





/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    h1 {

        font-style: italic;

    }

    #canvasArea {
        margin-left: auto;
        margin-right: auto;
        min-height: fit-content;
    
        background-color: lightblue;
    
        display: flex;
        padding: 20px;
        justify-content: center;

        max-width: 70%;
        min-width: 70%;
    border: 2px black solid ;
    
    }

    /*    image{

       width: 100%;
       height: 100%;

    }


        
        
        
    #mainBody{
        
        display: block;
        min-width: 100vw;
        min-height: 100vh;

        } 


    #imageChoice{

        align-content: center;
        float: left;
        min-height: 100%;
        width: 250px;
        background-color: aqua;       
        
        }

        
    #canvasArea{
        min-height: 100%;
        display: flex;
        background-color: lightblue;
    }
*/


}