{% load static %}



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/enjoy_app/normalize.css">
    <link rel="stylesheet" href="static/enjoy_app/style.css">
    <link rel="icon" type="image/x-icon" href="/media/favicon.ico">
    <title>Enjoy: Colorful Fun</title>
</head>

<body>

    <div id="contentContainer">

        <header>
            <h1>Enjoy: Colorful Fun</h1>
        </header>
        <nav>

            <button id="user-section-btn" onclick="userOpen()" class="nav-btn">
                User Section
            </button>

            <button id="draw-section-btn" onclick="pickOpen()" class="nav-btn">
                Pick a drawing
            </button>

            <button id="gallery-section-btn" onclick="galleryOpen()" class="nav-btn">
                Gallery
            </button>
        
            <div id="user-messages">

                {% if request.user.is_authenticated %}
                <h3 id="welcome-message">Welcome {{ request.user.username }}!</h3>
                {% endif %}

                {% if messages %}
                <h3 id="message">

                    {% for message in messages %}
                    {{ message }}
                    {% endfor %}

                </h3>
                {% endif %}

            </div>

        </nav>


        <!--All main divs   User, Image selection, drawing canvas   -->
        <div id="fullBody">

            <!-- -->
            <!--User Section-->
            <!-- -->
            <div id="userDiv">
                {% if request.user.is_authenticated %}

                <!--User Logout-->
                <div id="user-logout">
                    <form type="button" action="user/logout" method="post" class="form-container">
                        {% csrf_token %}
                        <h3>Logout {{ request.user.username }}?</h3>

                        <button type="submit" class="btn">Logout</button>
                    </form>
                </div>

                <!--Displays user images if logged in-->
                <div id="user-images-title">
                    <h3>Your drawings:</h3>
                </div>
                <div id="userImages">
                    {% for userimg in user_image %}

                    <img class="user-img-thumb" src="{{ userimg.user_thumbnail_image_location }}">

                    {% endfor %}
                </div>

                {% else %}
                <!--User login form-->
                <div id="user-login">
                    <form action="user/" class="form-container" method="post">
                        {% csrf_token %}
                        <h3>Login</h3>
                        {{ form.username.label }}
                        {{ form.username}}
                        {{ form.password.label}}
                        {{ form.password}}
                        <button type="submit" class="btn">Login</button>
                        <button type="button" onclick="openCreateDiv()" class="btn">Create Account</button>
                    </form>
                </div>

                <!-- create user form-->
                <div id="create-user" style="display: none;">

                    <form action="user/create" method="post" class="form-container">
                        {% csrf_token %}
                        <h3>Create Account</h3>
                        <section id="userNamePass">{{ create_form.username.label }} {{create_form.username}}</section>
                        <section id="password">{{create_form.password.label_tag}} {{create_form.password}}</section>

                        <input type="submit" value="Submit" class="btn" />
                        <button type="button" onclick="openLoginDiv()" class="btn">Login</button>
                    </form>
                </div>
                {% endif %}
            </div>


            <!-- -->
            <!--Image Library, select images div-->
            <!-- -->
            <div id="imageChoice">

                <div id="images-title">
                    <h2>Pick a drawing!</h2>
                </div>
                <div id="pick-drawings">
                {% for img in image %}
                <img class="drawPickSel" src="{{ img.thumbnail_image_location }}"
                    data-fileLoc="{{ img.image_location }}" />
                {% endfor %}
            </div>
            </div>


            <!--Contains canvas and tools-->
            <div id="mainBody">

                <div id="tool-bar">
                    <div id="color-pallet">
                        <!-- change to forloop if time permits-->
                        <button class="palletButton" id="redSelect"></button>
                        <button class="palletButton" id="blackSelect"></button>
                        <button class="palletButton" id="blueSelect"></button>
                        <button class="palletButton" id="yellowSelect"></button>
                        <button class="palletButton" id="greenSelect"></button>
                        <button class="palletButton" id="pinkSelect"></button>
                        <button class="palletButton" id="whiteSelect"></button>
                        <button class="palletButton" id="greySelect"></button>
                        <button class="palletButton" id="orangeSelect"></button>
                    </div>

                    <div id="tool-items">
                        <div id="brush-sec">
                            <label for="sizeRange">Brush Size</label>
                            <input type="range" min="1" max="20" value="5" id="sizeRange"></input>
                        </div>

                        <button class="tool-btn" id="eraseSelect">Erase</button>
                        <button class="tool-btn" id="undoButton">Undo</button>
                        <button class="tool-btn" id="redoButton" disabled>Redo</button>
                        <button class="tool-btn" id="downloadButton">Download</button>


                        {% if request.user.is_authenticated %}
                        <form id="saveForm" name="saveForm" action="submit/" method="post">
                            {% csrf_token %}
                            <h4>Save:</h4>
                            <label for="image_title">Image name:</label>
                            <input name="image_title" type="text" id="image_title" required>
                            <input type="hidden" name="user_image_location" id="user_image_location">
                            <input type="hidden" name="user_image_width" id="user_image_width">
                            <input type="hidden" name="user_image_height" id="user_image_height">
                            <button class ="tool-btn" type="" id="user-save" onclick="saveUserDrawing()">Save Image</button>
                        </form>

                        {% endif %}
                    </div>
                </div>


                <div id="canvasArea">

                    <div id="canvasLayers">

                        <canvas class="canvases" id="canvasLayerBack">
                            This text displayed if browser does not support HTML5 Canvas
                        </canvas>
                        <canvas class="canvases" id="canvasLayerDraw">
                        </canvas>

                        <canvas class="canvases" id="canvasLayerCursor">
                        </canvas>


                    </div>
                </div>

            </div>

            <!-- -->
            <!-- User Image Gallery -->
            <!-- -->
            <div id="user-image-gallery">
                <div id="gallery-title">
                    <h2>Gallery</h2>
                </div>
                <div id="gallery-images">
                    {% for gallery_img in gallery_images %}
                    <div class="gallery-item">
                        <h4>{{ gallery_img.username }}</h4>
                        <img class="gal-image" src="{{ gallery_img.user_thumbnail_image_location }}" />
                        <h5> {{ gallery_img.image_title }}</h5>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>



        <footer>
            By: Travis Jackson
        </footer>


    </div>
    <script src="{% static 'enjoy_app/script.js' %}"></script>
</body>

</html>




