{% load static %}



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/enjoy_app/normalize.css">
    <link rel="stylesheet" href="static/enjoy_app/style.css">
    <link rel="icon" type="image/x-icon" href="/media/favicon.ico">
    <title>Enjoy</title>
</head>

<body>

    <div id="contentContainer">
    <header>

        <h1>test</h1>

    </header>

    <nav>test nav bar</nav>

    <div id="mainBody">


        <div id="imageChoice">

            {% for img in image %}

            <img class="testclick" src="{{ img.thumbnail_image_location }}" id="{{ img.image_location }}" />
            {% endfor %}

        </div>


        <div id="canvasArea">


            <canvas id="colorCanvas" width="600" height="600">
                Browser not supported.
            </canvas>
         <!--   <canvas id="colorPallet"></canvas>
            <canvas id="colorOptions"></canvas>
         -->
        </div>

    </div>

    <footer>

        test footer
        
        </footer>
</div>





    <script src="{% static 'enjoy_app/script.js' %}"></script>
</body>

</html>