{% load static %}



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/enjoy_app/normalize.css">
    <link rel="stylesheet" href="static/enjoy_app/style.css">
    <link rel="icon" type="image/x-icon" href="/media/favicon.ico">
    <title>Enjoy</title>
</head>

<body>

    <div id="contentContainer">

        <nav><h1>Enjoy: Relaxing Fun</h1>

            <button id="user-section-btn" onclick="userOpen()">
                User 
                
            </button>

            <button id ="draw-section-btn" style="display: none;" onclick="pickOpen()">

               Pick a drawing
                
            </button>
            

                  {% if request.user.is_authenticated %} 

            <p>Signed in: {{ request.user.username }}</p>
            {% endif %}
        </nav>


        <div id="fullBody">



            <div id="imageChoice" >
                <h1>Pick an Image</h1>
                
                {% for img in image %}

                <img class="drawPickSel" src="{{ img.thumbnail_image_location }}"
                    data-fileLoc="{{ img.image_location }}" />
                {% endfor %}

            </div>


            <div id="userDiv" >
            {% if request.user.is_authenticated %}                

            <div id="user-logout">

                <form type="button" action="user/logout" method="post" class="form-container">
                    <h1>Logout</h1>
                    <p>Signed in: {{ request.user.username }}</p>

                    <button type="submit">Logout</button>


            </div>

            <!-- <div id="userImages" style=" display: none">

            //    {% for img in image %}


                <img class="user-img-thumb" src="{{ img.thumbnail_image_location }}">


                {% endfor %}

            </div>
        -->


            {% else %}

            
                <div id="user-login" >
                    <form action="user/" class="form-container" method="post">
                        {% csrf_token %}
                        <h1>Login</h1>

                        {{ form.username.label }}
                        {{ form.username}}
                        {{ form.password.label}}
                        {{ form.password}}                        <!--
                      <label for="username"><b>User name</b></label>
                      <input type="text" placeholder="Enter Username" name="username" required value="{{ username }}">
                  
                      <label for="psw"><b>Password</b></label>
                      <input type="password" placeholder="Enter Password" name="psw" required value="{{ password }}">
                        -->

                        <button type="submit" class="btn">Login</button>

                    </form>

                </div>



                <div id="createUser">

                   <form action="user/create" method="post">
                        {% csrf_token %}
            
                        <section id="userNamePass">{{ create_form.username.label }} {{create_form.username}}</section>
                        <section id="password">{{create_form.password.label_tag}} {{create_form.password}}</section>
            
                        <input type="submit" value="Submit" />
                        
                    </form>
                </div>
           </div>
                {% endif %}

                
         <!-- <div id="userImages" style=" display: none">

            //    {% for img in image %}


                <img class="user-img-thumb" src="{{ img.thumbnail_image_location }}">


                {% endfor %}

            </div>
        -->
        <div id="mainBody">






            <div id="tool-bar">
                <!-- change to forloop if time permits-->
                <button class="palletButton" id="redSelect"></button>
                <button class="palletButton" id="blackSelect"></button>
                <button class="palletButton" id="blueSelect"></button>
                <button class="palletButton" id="yellowSelect"></button>
                <button class="palletButton" id="greenSelect"></button>
                <button class="palletButton" id="pinkSelect"></button>
                <button class="palletButton" id="whiteSelect"></button>
                <button class="palletButton" id="greySelect"></button>
                <button class="palletButton" id="orangeSelect"></button>

                <label for="sizeRange">Brush Size</label>
                <input type="range" min="1" max="20" value="5" id="sizeRange"></input>


                <button id="eraseSelect">Erase</button>
                <button id="undoButton">Undo</button>
                <button id="redoButton" disabled>Redo</button>
                <button id="downloadButton">Download</button>

                {% if request.user.is_authenticated %} 

                <form id="saveForm" name="saveForm" action="submit/" method="post">



                    {% csrf_token %}
                    <label for="image_title">Image name:</label>
                    <input name="image_title" type="text" id="image_title">
                    <input type="hidden" name="user_image_location" id="user_image_location">
                    <input type="hidden" name="user_image_width" id="user_image_width">
                    <input type="hidden" name="user_image_height" id="user_image_height">
                    <button type="" id="user-save" onclick="saveUserDrawing()" >Save Image</button>
                </form>

                {% endif %}

            </div>


            <div id="canvasArea">

                <div id="canvasLayers">

                    <canvas class="canvases" id="canvasLayerBack">
                        This text displayed if browser does not support HTML5 Canvas
                    </canvas>
                    <canvas class="canvases" id="canvasLayerDraw">
                    </canvas>

                    <canvas class="canvases" id="canvasLayerCursor">
                    </canvas>


                </div>
            </div>

        </div>
            </div>










        <footer>

            test footer

        </footer>
    </div>


    </div>



    <script src="{% static 'enjoy_app/script.js' %}"></script>
</body>

</html>